:root{
    --icon-width: 79px;
    --icon-height: 79px;
    --num-of-icons: 9;
} 

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393E46;
    
}

.hidden { 
    display: none;
}

#reel-main {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: auto;
}

.slots-container { 
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: -1;
}

.slots {
    width: calc(3.5 * var(--icon-width));
    height: calc(3 * var(--icon-height));
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: calc(0.3 * var(--icon-height));

}

.slots .reel {
    border: 1px solid black;
    width: var(--icon-width);
    height: calc(3 * var(--icon-height));
    background-image: url(./resources/slotreel.webp);
    background-repeat: repeat-y;
    background-position: 0 0;
}

#roll-btn {
    margin: 10px;
    width: 250px;
    height: 65px;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(250,240,93,1) 0%, rgba(253,187,45,1) 100%);
}

#roll-btn:hover {
    background: linear-gradient(0deg, rgb(255, 246, 115) 0%, rgb(255, 197, 72) 100%);
    cursor: pointer;
}

.up-btn {
    width: 100px;
    height: 35px;
    float:right;
    margin: 10px;
    border: 2px solid #FFBF78;
    background-color: #FF7D29;
    border-radius: 20px;
}

.up-btn:hover {
    background-color: #ff8431;
    color: #FEFFD2;
    cursor: pointer;
}

#login-form {
    background-color: purple;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
}

#login-form h2 {
    color: white;
}

.login-input-item {
    padding: 10px 20px;
    margin: 10px;
}

#signup-form {
    background-color: rgb(58, 99, 99);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}

.signup-input-item {
    padding: 10px 20px;
    margin: 10px;
}