:root{
    --icon-width: 79px;
    --icon-height: 79px;
    --num-of-icons: 9;
} 

* {
    margin: 0;
    padding: 0;
}

#reel-main {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: auto;
}

body {
    background-color: #393E46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.slots {
    width: calc(3.5 * var(--icon-width));
    height: calc(3 * var(--icon-height));
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: calc(0.3 * var(--icon-height));

}

.slots .reel {
    border: 1px solid black;
    width: var(--icon-width);
    height: calc(3 * var(--icon-height));
    background-image: url(./resources/slotreel.webp);
    background-repeat: repeat-y;
    background-position: 0 0;
}

#roll-btn {
    margin: 10px;
    width: 250px;
    height: 65px;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(250,240,93,1) 0%, rgba(253,187,45,1) 100%);
}

#roll-btn:hover {
    background: linear-gradient(0deg, rgb(255, 246, 115) 0%, rgb(255, 197, 72) 100%);
    cursor: pointer;
}